name: "Frogbot Security Scan"
on:
  pull_request_target:
    types: [opened, synchronize] # Triggers scan-pr flow for every opened/updated pull request
  push: # Triggers scan-repo flow for every push to the specified branches
    branches:
      - main
  schedule:
    - cron: "0 0 * * *"   # The repository will be scanned once a day at 00:00 GMT.
  workflow_dispatch: # The repository will be scanned on demand
permissions:
  pull-requests: write
  contents: write
  security-events: write
  # [Mandatory If using OIDC authentication protocol instead of JF_ACCESS_TOKEN]
  # id-token: write
jobs:
   frogbot-scan:
     runs-on: self-hosted
     strategy:
       matrix:
         # The repository scanning will be triggered periodically on the following branches.
         branch: ["main"]
     steps:
       - uses: jfrog/frogbot@v2
         # [Mandatory if using OIDC authentication protocol instead of JF_ACCESS_TOKEN]
         # Insert to oidc-provider-name the 'Provider Name' defined in the OIDC integration configured in the JPD
         env:
           JF_URL: https://idani.jfrog.io
           JF_ACCESS_TOKEN: ${{ secrets.JF_ACCESS_TOKEN }}
           JF_GIT_TOKEN: ${{ secrets.GITHUB_TOKEN }}
           JF_GIT_BASE_BRANCH: ${{ matrix.branch }}    # For repository scan action 
           JFROG_CLI_LOG_LEVEL: DEBUG
   scan-multiple-repositories:
     runs-on: self-hosted
     name: Scan Multiple Repositories
     steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup and Run Frogbot Scan Multiple Repositories
        env:
          JF_ACCESS_TOKEN: ${{ secrets.JF_ACCESS_TOKEN }}
          FROGBOT_CMD: scan-repository
          JF_URL: https://idani.jfrog.io
          JF_GIT_PROVIDER: github
          JF_GIT_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          JF_GIT_BASE_BRANCH: main
          JF_GIT_API_ENDPOINT: https://api.github.com/
          JF_GIT_OWNER: AmitLevv
          JF_GIT_REPO: pipyexample
          JFROG_CLI_LOG_LEVEL: debug
          CI: True
        run: |
          curl -fLg -H -vvv "Authorization: Bearer $JF_ACCESS_TOKEN" "https://releases.jfrog.io/artifactory/frogbot/v2/2.10.0/getFrogbot.sh" | sh        
          ./frogbot scan-multiple-repositories
